/InventoryManagement/target
/InventoryManagement/nbproject/
*.swp
/InventoryManagement/orders.csv
/InventoryManagement/products.csv
/InventoryManagement/users.csv
/InventoryManagement/nbactions.xml
nbactions.xml
